<div *ngFor="let i of data">
    <label>{{i.Label}}</label>
    <input *ngIf="i.tag === 'input'" type ={{i.Type}}  (change)="setInputValue($event)">
    <div *ngIf="isError">{{i.error}}</div>
    
    <textarea *ngIf="i.tag === 'textarea'" rows="3" cols="33" [(ngModel)]="studentDetail.address" name="address"></textarea>
    <select *ngIf="i.tag === 'select'" [(ngModel)]="studentDetail.qualification">
        <option *ngFor="let j of i.Value">{{j}}</option>
    </select>
    <button *ngIf="i.tag === 'button'" type="{{i.type}}" (click) ="onSubmit()">{{i.Text}}</button> 
</div>
